<!doctype html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	
	<base href="/">

    <title>Infosys Message Publisher App</title>
    <link rel="stylesheet" href="/client/public/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/client/public/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/client/public/angular-ui-notification/dist/angular-ui-notification.css">
    <link rel="stylesheet" href="/client/public/components-font-awesome/css/all.min.css">

    <script type="text/javascript" src="/client/public/angular/angular.js"></script>
    <script type="text/javascript" src="/client/public/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="/client/public/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="/client/public/ng-file-upload/ng-file-upload.js"></script>
    <script type="text/javascript" src="/client/public/angular-messages/angular-messages.js"></script>
    <script type="text/javascript" src="/client/public/angular-mocks/angular-mocks.js"></script>
    <script type="text/javascript" src="/client/public/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="/client/public/angular-ui-notification/dist/angular-ui-notification.js"></script>
    <script type="text/javascript" src="/client/public/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="/client/public/owasp-password-strength-test/owasp-password-strength-test.js"></script>

    <link rel="stylesheet" href="/client/modules/css/publisher.css">
    <script type="text/javascript" src="/client/modules/app.js"></script>
  </head>

  <body style="background-color: #f8f9f9;">
    <header ng-include="'/client/modules/views/header.html'"></header>
    <ui-view></ui-view>
  </body>
</html>