<section>
    <div class="ng-upload-div ng-pristine ng-valid" ngf-select="" ngf-drop="" ng-model="files" ng-model-invalid="invalidFiles" 
        ng-multiple="uploadOptions.multiple" ngf-pattern="uploadOptions.pattern" ngf-accept="uploadOptions.acceptSelect" ngf-drag-over-class="uploadOptions.dragOverClass" 
        ngf-validate="validateObj" ngf-keep="uploadOptions.keep" ngf-max-files="uploadOptions.maxFiles" ngf-run-all-validations="uploadOptions.runAllValidations"
        ngf-drop-available="uploadOptions.dropAvailable">
        
        <label class="ng-upload-label">
            <span>
                Select or Drop JSON File to Send Messages
            </span>
        </label>

    </div>
</section>